/Carhabty/nbproject/private/
/Carhabty/dist/
/Carhabty/build/
/Carhabty/API Jar/BackBoneFramework/build/
/Carhabty/API Jar/BackBoneFramework/dist/
/Carhabty/API Jar/BackBoneFramework/nbproject/private/